* {box-sizing: border-box;}
body {font-family: Arial, Helvetica, sans-serif}
.mySlides {display: none;}
img {vertical-align: middle;}


#hearder-full {
    width: 100%;
}

.hearder {
    max-width: 1200px;
    height: 100px;
    margin: auto;
}

.logo, .seach {
    width: 400px;
    height: 100px;
    float: left;
    margin-left: 10px;
}
.logo img {
    width: 350px;
    height: 100px;
}
.hotLine {
    width: 200px;
    height: 50px;
    background-color: green;
    float: right;
    margin-right: 50px; 
    margin-top: 30px;
    color: white;
    line-height: 50px;
    text-align: center;
}

.timKiem {
	width: 400px;
	height: 50px;
	margin-top: 30px;
	background-color: #fff;
    border-radius: 100px;
    border: 1px solid green;
}
.timKiem input:first-child {
	width: 320px;
	height: 50px;
	border: none;
	padding: 0px;
	background-color: transparent;
	padding-left: 15px;
	color: #1c98f7;
}
.timKiem input:last-child {
	width: 40px;
	height: 50px;
	border: none;
	padding: 0px;
	background-color: transparent;
	background-image: url('images/kinhlup.png');
	background-repeat: no-repeat;
	background-position: center;
    text-indent: 3000px;
    cursor: pointer;
}

.menu {
    max-width: 100%;
    height: 50px;
    margin: auto;
    z-index: 1;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

:root {
    --primary-color: #f2452e;
    --primary-dark-color: #c53724;
    --primary-light-color: #f86a57;
    --dark-color: #222;
    --light-color: #fff;
}

img {
    width: 100%;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.btn-primary:hover {
    background-color: var(--primary-dark-color);
}

#nav-bar {
    background-color: green;
}

.menu-lv1 {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.item-lv1 {
    padding: 16px 20px;
}

.item-lv1 a,i {
    color: var(--light-color);
    font-size: 16px;
    line-height: 20px;
}

.item-lv1:hover {
    background-color: var(--primary-dark-color);
}

.item-lv1:hover .menu-lv2 {
    display: block;
}

.item-lv1:last-child {
    margin-left: auto;
}

.menu-lv2 {
    border: 1px solid #ddd;
    box-shadow: 1px 2px 4px #ddd;
    background-color: whitesmoke;
    position: absolute;
    display: none;
    z-index: 1;
}

.menu-lv2 a {
    color: var(--dark-color);
}

.menu-lv2 .item-lv2 {
    padding: 10px 20px;
}

.menu-lv2 .item-lv2:hover {
    background-color: palevioletred;
    border-bottom: 1px solid red;
}

.slider {
    width: 100%;
    height: 350px;
    margin-top: 20px;
}

.anh {
    width: 1200px;
    height: 350px;
    margin: auto;
}
.anh img {
    width: 800px;
    height: 350px;
}

.sliderShow {
    width: 800px;
    height: 350px;
    float: left;
    background-color: aquamarine;
    position: relative;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
 

.tcn {
    width: 390px;
    height: 350px;
    float: right;
}

.spm {
    width: 390px;
    height: 110px;
    margin-top: 5px;
}

.spm img {
    width: 390px;
    height: 110px;
}


.bc {
    width: 1200px;
    height: 75px;
    margin: auto;
    margin-top: 45px; 
}


/* sản phẩm */
#hien-thi-san-pham {
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.san-pham {
    width: 18%;
    border: 1px solid wheat;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 20px;
    box-shadow: 5px 5px  aliceblue;
}

.ten-san-pham {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.gia-goc-san-pham {
    font-size: 12px;
    text-decoration: line-through;
    color: black;
    padding-left: 10px;
}

.khu-vuc-san-pham {
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}

.button {
    width: 100px;
    height: 25px;
    background-color:green;
    color: white;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.gia-goc {
    padding-left: 10px;
    color: var(--primary-color);
}


.footer {
	width: 100%;
	height: 360px;
	background-color: green ;
	clear:both;
	margin-top: 20px;
}
.ocuoi {
	width: 1200px;
	height: 360px;
	margin: 0 auto;
}
.logo-cuoi {
	width: 300px;
	height: 360px;
    float: left;
    margin-top: 30px;
}

.logo-cuoi img{
    width: 310px;
    height: 180px;
    margin-top: 50px;
}
.thanhcuoi {
	width: 100%;
	height: 50px;
	background-color: rgb(243, 239, 239);
}

.ttc {
    width: 1200px;
    height: 50px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    line-height: 50px;
    color: black;
}
.ttct {
	width: 890px;
	height: 360px;
	float: right;
	background-color: green;
}
.lh {
	width: 570px;
	height: 130px;
	text-align: center;
	padding-top: 20px;
	color: white;
    font-size: 16px;
}
.tt {
	width: 890px;
	height: 210px;
}
.lienhe {
	width: 280px;
	height: 70px;
	margin-left: 150px ;
}
.mxh {
	width: 70px;
	height: 70px;
	float: left;
	background-color: #bbb; 
}
.ct {
	width: 450px;
	height: 210px;
	float: left;

}
.th {
	width: 410px;
	height: 210px;
	float: right;
}
.ogt {
	width: 410px;
	height: 100px;
	float: right;
	margin-top: 5px;
}

.ogt img {
    width: 300px;
    height: 100px;
}
.ht {
	width: 190px;
	height: 90px;
	margin-left: 5px;
	float: left;
}
.ht, .ct, .ff li {
	padding-top: 10px;
	list-style: none;
	font-size: 14px;
	color: white;
	padding-left: 10px;
	line-height: 19px;
}